<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Expenses Tracker</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js" defer></script>
  <link rel="stylesheet" href="style.css">
  <style></style>
</head>

<body>
  <div id="app">

    <header :class="{ inActive: isInActive}">
      <h1>Expenses Tracker</h1>
      <button class="expand-button" @click="expandDiv">History</button>
    </header>

    <aside>
      <div class="expanding-div" :class="{ 'expanded': expanded }">
        <button class="close-button" @click="closeDiv">X</button>
        <h2>Historical display of transactions</h2>
        <div class="monthHistory">
          <select id="expenseMonth" v-model="expenseMonth">
            <option value="">Select a month</option>
            <option value="0">Jan</option>
            <option value="1">Feb</option>
            <option value="2">Mar</option>
            <option value="3">Apr</option>
            <option value="4">May</option>
            <option value="5">Jun</option>
            <option value="6">Jul</option>
            <option value="7">Aug</option>
            <option value="8">Sep</option>
            <option value="9">Okt</option>
            <option value="10">Nov</option>
            <option value="11">Dec</option>
          </select>
          <p v-for="expense in filterExpenses" :key="expense.id">
            Name: {{ expense.name }}, Amount: {{ expense.amount }} kr, Category: {{ expense.category }}, Date: {{ expense.date }}
            <button @click="deleteTransaction(expense.id)">Delete</button>
          </p>
        </div>
      </div>
    </aside>
    <main :class="{ inActive: isInActive}">

      <div class="information">
        <p id="totalAmount">Total amount: {{ totalAmount }}</p>
        <p id="daysToPayday">Days left to payday: {{ daysLeftToPayday(date) }}</p>
        <p id="spendingAmount">Spending amount per day: {{ dailyAmount(date, totalAmount) }}</p>
      </div>
      <div class="Input">
        <form v-on:submit.prevent="addExpense">
          <label for="expenseAmount"></label>
          <div class="inputDateAndType">
            <label for="date-input">Select a date for the transaction:</label>
            <input type="date" id="date-input" v-model="dateToday"><br>
            <label for="objectName">Name: </label>
            <input id="objectName" type="text" v-model="objectName">
          </div>
          
          <label for="expenseAmount">Amount:</label>
          <div class="buttonLayout">
            <!-- Pattern säger att användaren endast får mata in dess värden innanför hakparantesen -->
            <input id="overlay" type="text" pattern="^[0-9]+([,.][0-9]+)?$" v-model="sumString">
            <button id="button-1" type="button" @click="addNumber(1)">1</button>
            <button id="button-2" type="button" @click="addNumber(2)">2</button>
            <button id="button-3" type="button" @click="addNumber(3)">3</button>
            <button id="button-4" type="button" @click="addNumber(4)">4</button>
            <button id="button-5" type="button" @click="addNumber(5)">5</button>
            <button id="button-6" type="button" @click="addNumber(6)">6</button>
            <button id="button-7" type="button" @click="addNumber(7)">7</button>
            <button id="button-8" type="button" @click="addNumber(8)">8</button>
            <button id="button-9" type="button" @click="addNumber(9)">9</button>
            <button id="button-0" type="button" @click="addNumber(0)">0</button>
            <button id="button-10" type="button" @click="addNumber('.')">.</button>
            <button id="button-11" type="button" @click="removeNumber()">❌</button>
          </div>
          <label for="expenseCategory">Category:</label>
          <select id="expenseCategory" v-model="expenseCategory">
            <option value="">Select a category </option>
            <option value="salary">Salary</option>
            <option value="food">Food</option>
            <option value="transportation">Transportation</option>
            <option value="entertainment">Entertainment</option>
            <option value="housing">Housing</option>
            <option value="miscellaneous">Miscellaneous</option>
            <option value="stocks">Stocks</option>
          </select>

          <button type="submit">Add</button>
        </form>
      </div>
      <div class="transactions">

        <h2>Transactions</h2>
        <p v-for="expense in expenses" :key="expense.id">
         {{expense.name}}: {{ expense.amount }} Kr ({{ expense.category }})
        </p>

        <!-- <p v-for="expense in filterExpenses" :key="expense.id">
            Name: {{ expense.name }}, Amount: {{ expense.amount }} kr, Category: {{ expense.category }}, Date: {{ expense.date }}
            <button @click="deleteTransaction(expense.id)">Delete</button>
          </p> -->
        
        <h2>Expenses per Category</h2>
        <canvas id=theCanvas ref="canvas"></canvas>
        <ul>
          <li v-for="(amount, category) in expensesByCategory" :key="category">
            {{ category }}: {{ amount }}
          </li>
        </ul>
      </div>
      
  </div>
  </main>
  <footer>
  </footer>
</body>

</html>