*{
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonLayout button{
    height: 35px;
}

.buttonLayout {
    display: grid;
    grid-template: 
    "a a a"
    "b c d"
    "e f g"
    "h i j"
    "k l m" / 1fr 1fr 1fr;
}

#overlay{
    grid-area: a;
}

#button-1{
    grid-area: b;
}
#button-2{
    grid-area: c;
}
#button-3{
    grid-area: d;
}
#button-4{
    grid-area: e;
}
#button-5{
    grid-area: f;
}
#button-6{
    grid-area: g;
}
#button-7{
    grid-area: h;
}
#button-8{
    grid-area: i;
}
#button-9{
    grid-area: j;
}
#button-10{
    grid-area: k;
    font-size: 20px
}
#button-0{
    grid-area: l;
}
#button-11{
    grid-area: m;
}
